@page "/companies"
@inject NavigationManager NavigationManager
@inject UseCases.IViewCompaniesUseCase ViewCompanyUseCase

<h3>Manage Companies</h3>


@if (companies != null)
{
    <table>
        <thead> 
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companies)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.Description</td>
                    <td><button type="button" @onclick="@(() => EditCompany(company))" class="btn btn-link">Edit</button></td>
                </tr>
                }
            </tbody>
        </table>
}
<br />
<button type="button" @onclick = "OnClickAddCompany" class=" btn btn-primary">Add Company</button>

@code {
    private List<Company> companies;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        companies = ViewCompanyUseCase.Execute()?.ToList();
    }

    private void OnClickAddCompany()
    {
        NavigationManager.NavigateTo("/addcompany");
    }

    private void EditCompany(Company company)
    {
        NavigationManager.NavigateTo($"/editcompany/{company.CompanyId}");
    }
}
