@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to your Project Management Application</h1>

Refer the navigation bar to your left to carry out any action

<SurveyPrompt Title="Since this is the Viva, you can ask me any questions!" />
